body{
    background-color: black;
}
.mother-ship {
    min-width: 10px;
    min-height: 10px;
    background-color: darkgray;
    border: 1px solid grey;
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    border-radius: 20%;
    margin: 2px auto;
    transition-duration: 500ms;
}

#space{
    width: 95%;
    height: 500px;
    border: 1px dashed antiquewhite;
    position: relative;
    margin: 0 auto;
    align-content: center;
}
#grid {
    width: 200px;
    align-content: center;
}
#space-craft {
    background-image: url("star-trek.png");
    position: absolute;
    float: left;
    top: 90%;
    left: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
}

#bullet {
  background: blue;
  width: 5px;
  height: 5px;
  position: absolute;
  float: left;
  top: 20%;
}
    
#life {
    color: white;
    font-family: "Amatic SC";
    padding: 0 0 0 30px;
}

#score {
    color: white;
    font-family: "Amatic SC";
    float: right;
    margin: -35px 80px 0 0;
}

#name-player1 {
    color: white;
    font-family: "Amatic SC";
    margin: 0 0 0 30px;  
}

#name-player2 {
    color: white;
    font-family: "Amatic SC";
    line-height: 20px;
    margin: 0 0 0 30px;    
}

.invisible-marker {
    color: red;
    width: 15px;
    height: 15px;
}

#input-name{
    /* margin: 150px 500px 30px; */
    background: rgba(255,255,255,.95);
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    height: 30px;
    width: 130px;
    font-family: "Amatic SC";
    font-size: 20px;    
    float: left;
}

#opening-input {
    margin: 100px auto;
    width: 220px;
}
  #ok-btn {
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    float: right;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 36px;
    width: 80px;
    /* margin: -66px 640px; */
    padding: 0;
  }
  
  #start-game{
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 36px;
    width: 80px;
    margin: 250px 0 0 500px;
    
    
  }
