body{
    background-color: black;   
}

#opening-image {
    background-image: url("space-invaders-logo.png");
    background-repeat: no-repeat;
    margin: 0 0 0 50px;
    background-size: 100%;
    width: 1050px;
    height: 270px;
}
.mother-ship {
    background-image: url("invader1.png"); 
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;   
    width: 10px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    border-radius: 20%;
    margin: 2px auto;
    transition-duration: 500ms;
}

#space{
    background-image: url("Background_space.png");
    background-repeat: no-repeat;
    background-size: 100%; 
    width: 95%;
    height: 550px;
    border: 1px dashed antiquewhite;
    position: relative;
    margin: 0 auto;
    align-content: center;
}
#grid {
    width: 200px;
    align-content: center;
}
#space-craft {
    background-image: url("Star_Trek_Spaceship.png");
    background-position: center;
    background-size: 100%;
    color: red;
    position: absolute;
    float: left;
    background-color: transparent;
    width: 50px;
    height: 50px;
    top: 90%;
    left: 49%;
}

#photon {
    background: blue;
    width: 5px;
    height: 5px;
    position: absolute;
    float: left;
    top: 20%;
  
}
    
#life {
    color: white;
    font-family: "Amatic SC";
    padding: 0 0 0 30px;
}

#score {
    color: white;
    font-family: "Amatic SC";
    float: right;
    margin: -35px 80px 0 0;
}

#name-player1 {
    color: white;
    font-family: "Amatic SC";
    margin: 0 0 0 30px;  
}

#name-player2 {
    color: white;
    font-family: "Amatic SC";
    line-height: 20px;
    margin: 0 0 0 30px;    
}

.invisible-marker1 {
    color: red;
    width: 50px;
    height: 50px;
}
.invisible-marker2 {
    color: black;
    width: 50px;
    height: 50px;
}
#input-name{
    /* margin: 150px 500px 30px; */
    background: rgba(255,255,255,.95);
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    height: 30px;
    width: 130px;
    font-family: "Amatic SC";
    font-size: 20px;    
    float: left;
}

#opening-input {
    margin: 100px auto;
    width: 220px;
}

#ok-btn {
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    float: right;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 36px;
    width: 80px;
    /* margin: -66px 640px; */
    padding: 0;
  }
  
#start-game{
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 36px;
    width: 80px;
    margin: 250px 0 0 550px;
  }

  #player2Ready{
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 50px;
    width: 80px;
    margin: 250px 0 0 550px;
  }

  #gameOver{
    background: rgba(0,84,166,0.95);
    border: none;
    color: #fff;
    font-family: "Amatic SC";
    font-size: 19px;
    line-height: 20px;
    height: 50px;
    width: 80px;
    margin: 250px 0 0 550px;
  }
